@model List<Models.EF.DanhMuc>
<div class="nav top-nav">
    <label class="mobile_menu" for="mobile_menu">
        <span>Menu</span>
    </label>
    <input id="mobile_menu" type="checkbox">
    <ul class="nav">
        @foreach(var item in Model)
        {
            <li>
            <a href="@item.URL-@item.danhMucID" target="@item.Target"><img src="@item.image" alt="" />@item.tenDanhMuc</a>
            </li>
        }      
    </ul>
</div>
