USE [TM]
GO
ALTER TABLE [dbo].[TraHang] DROP CONSTRAINT [FK__TraHang__hoaDonI__6EF57B66]
GO
ALTER TABLE [dbo].[ThanhToan] DROP CONSTRAINT [FK__ThanhToan__hoaDo__6E01572D]
GO
ALTER TABLE [dbo].[SanPhamTag] DROP CONSTRAINT [FK__SanPhamTa__tagID__6D0D32F4]
GO
ALTER TABLE [dbo].[SanPhamTag] DROP CONSTRAINT [FK__SanPhamTa__sanPh__6C190EBB]
GO
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [FK__SanPham__thuongH__6B24EA82]
GO
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [FK__SanPham__loaiHan__6A30C649]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__maKhach__693CA210]
GO
ALTER TABLE [dbo].[GiaoHang] DROP CONSTRAINT [FK__GiaoHang__hoaDon__68487DD7]
GO
ALTER TABLE [dbo].[DanhMuc] DROP CONSTRAINT [FK__DanhMuc__groupID__6754599E]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK__ChiTietHo__sanPh__66603565]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK__ChiTietHo__hoaDo__656C112C]
GO
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [DF_SanPham_NgayTao]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[TraHang]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[TraHang]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[ThuongHieu]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[ThanhToan]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[Tag]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[Slide]
GO
/****** Object:  Table [dbo].[SanPhamTag]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[SanPhamTag]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[SanPham]
GO
/****** Object:  Table [dbo].[NhomDanhMuc]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[NhomDanhMuc]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[LoaiHang]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[GiaoHang]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[GiaoHang]
GO
/****** Object:  Table [dbo].[Footer]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[Footer]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[DanhMuc]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP TABLE [dbo].[ChiTietHoaDon]
GO
USE [master]
GO
/****** Object:  Database [TM]    Script Date: 23/5/2019 9:25:48 AM ******/
DROP DATABASE [TM]
GO
/****** Object:  Database [TM]    Script Date: 23/5/2019 9:25:48 AM ******/
CREATE DATABASE [TM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TM]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 23/5/2019 9:25:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[chitietID] [int] IDENTITY(1,1) NOT NULL,
	[hoaDonID] [int] NULL,
	[sanPhamID] [int] NULL,
	[soLuong] [smallint] NULL,
	[thanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[chitietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[danhMucID] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](250) NULL,
	[URL] [nvarchar](500) NULL,
	[groupID] [int] NULL,
	[Target] [varchar](10) NULL,
	[trangThai] [bit] NULL,
	[image] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[danhMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Footer]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footer](
	[ID] [nchar](10) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[trangThai] [bit] NULL,
 CONSTRAINT [PK_Footer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoHang]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoHang](
	[giaoHangID] [int] IDENTITY(1,1) NOT NULL,
	[hoaDonID] [int] NULL,
	[donViGiaoHang] [varchar](50) NULL,
	[ngayGiaoHang] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[giaoHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[hoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[maKhach] [int] NULL,
	[loaiHoaDon] [nvarchar](50) NULL,
	[trangThai] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[tongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[hoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[loaiHangID] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[loaiHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomDanhMuc]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomDanhMuc](
	[nhomID] [int] IDENTITY(1,1) NOT NULL,
	[tenNhom] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[nhomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[sanPhamID] [int] IDENTITY(1,1) NOT NULL,
	[loaiHang] [int] NULL,
	[thuongHieu] [int] NULL,
	[tenSanPham] [nvarchar](100) NULL,
	[donGia] [float] NULL,
	[moTa] [ntext] NULL,
	[hinhAnh] [nvarchar](500) NULL,
	[nhieuHinhAnh] [xml] NULL,
	[NgayTao] [datetime] NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[Hot] [datetime] NULL,
	[soLuong] [int] NULL,
	[MetaKeyword] [nvarchar](500) NULL,
	[MetaDescription] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[sanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamTag]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamTag](
	[sanPhamID] [int] NOT NULL,
	[tagID] [int] NOT NULL,
 CONSTRAINT [PK_SanPhamTag] PRIMARY KEY CLUSTERED 
(
	[sanPhamID] ASC,
	[tagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[tenSlide] [nvarchar](50) NOT NULL,
	[hinhAnh] [nvarchar](500) NULL,
	[URL] [nvarchar](500) NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[tagID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[hoaDonID] [int] NOT NULL,
	[ngayThanhToan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[hoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[thuongHieuID] [int] IDENTITY(1,1) NOT NULL,
	[tenThuongHieu] [nvarchar](50) NULL,
	[metaTitle] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[thuongHieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraHang]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraHang](
	[phieuTraHangID] [int] IDENTITY(1,1) NOT NULL,
	[hoaDonID] [int] NULL,
	[ngayTra] [datetime] NULL,
	[lyDo] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[phieuTraHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/5/2019 9:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[passWord] [varchar](50) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[eMail] [varchar](50) NULL,
	[diaChi] [nvarchar](50) NULL,
	[soDienThoai] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([chitietID], [hoaDonID], [sanPhamID], [soLuong], [thanhTien]) VALUES (1, 3, 26, 1, 500000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([danhMucID], [tenDanhMuc], [URL], [groupID], [Target], [trangThai], [image]) VALUES (1, N'Máy ảnh', N'may-anh', 1, N'_self', 1, NULL)
INSERT [dbo].[DanhMuc] ([danhMucID], [tenDanhMuc], [URL], [groupID], [Target], [trangThai], [image]) VALUES (2, N'Ống kính', N'ong-kinh', 1, N'_self', 1, NULL)
INSERT [dbo].[DanhMuc] ([danhMucID], [tenDanhMuc], [URL], [groupID], [Target], [trangThai], [image]) VALUES (3, N'Phụ kiện', N'phu-kien', 1, N'_self', 1, NULL)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
INSERT [dbo].[Footer] ([ID], [Content], [trangThai]) VALUES (N'footer    ', N'<div class="container wrap">
            <div class="logo2">
                <a href="index.html"><img src="images/logo2.png" alt="" /></a>
            </div>
            <div class="ftr-menu">
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>', 1)
SET IDENTITY_INSERT [dbo].[GiaoHang] ON 

INSERT [dbo].[GiaoHang] ([giaoHangID], [hoaDonID], [donViGiaoHang], [ngayGiaoHang]) VALUES (1, 3, N'GrabExpress', CAST(N'2019-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[GiaoHang] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([hoaDonID], [maKhach], [loaiHoaDon], [trangThai], [ngayTao], [tongTien]) VALUES (1, 4, N'Mua', 1, CAST(N'2019-05-19T11:49:38.500' AS DateTime), NULL)
INSERT [dbo].[HoaDon] ([hoaDonID], [maKhach], [loaiHoaDon], [trangThai], [ngayTao], [tongTien]) VALUES (2, 4, N'Mua', 0, NULL, NULL)
INSERT [dbo].[HoaDon] ([hoaDonID], [maKhach], [loaiHoaDon], [trangThai], [ngayTao], [tongTien]) VALUES (3, 4, N'Mua', 1, CAST(N'2019-05-19T11:56:34.720' AS DateTime), 500000)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[LoaiHang] ON 

INSERT [dbo].[LoaiHang] ([loaiHangID], [tenLoai], [MetaTitle]) VALUES (1, N'Máy ảnh', N'may-anh')
INSERT [dbo].[LoaiHang] ([loaiHangID], [tenLoai], [MetaTitle]) VALUES (2, N'Ống kính', N'ong-kinh')
INSERT [dbo].[LoaiHang] ([loaiHangID], [tenLoai], [MetaTitle]) VALUES (3, N'Phụ kiện', N'phu-kien')
SET IDENTITY_INSERT [dbo].[LoaiHang] OFF
SET IDENTITY_INSERT [dbo].[NhomDanhMuc] ON 

INSERT [dbo].[NhomDanhMuc] ([nhomID], [tenNhom]) VALUES (1, N'Menu Chính')
INSERT [dbo].[NhomDanhMuc] ([nhomID], [tenNhom]) VALUES (2, N'Menu Trái')
SET IDENTITY_INSERT [dbo].[NhomDanhMuc] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([ID], [tenSlide], [hinhAnh], [URL], [trangThai]) VALUES (1, N'slide1', N'/Assets/client/images/b1.jpg', N'#', 1)
INSERT [dbo].[Slide] ([ID], [tenSlide], [hinhAnh], [URL], [trangThai]) VALUES (2, N'slide2', N'/Assets/client/images/b2.jpg', N'#', 1)
INSERT [dbo].[Slide] ([ID], [tenSlide], [hinhAnh], [URL], [trangThai]) VALUES (3, N'slide3', N'/Assets/client/images/b3.jpg', N'#', 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([thuongHieuID], [tenThuongHieu], [metaTitle]) VALUES (1, N'Canon', N'canon')
INSERT [dbo].[ThuongHieu] ([thuongHieuID], [tenThuongHieu], [metaTitle]) VALUES (2, N'Sony', N'sony')
INSERT [dbo].[ThuongHieu] ([thuongHieuID], [tenThuongHieu], [metaTitle]) VALUES (3, N'Fujifilm', N'fujifilm')
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
SET IDENTITY_INSERT [dbo].[TraHang] ON 

INSERT [dbo].[TraHang] ([phieuTraHangID], [hoaDonID], [ngayTra], [lyDo]) VALUES (1, 2, CAST(N'2019-05-22T14:24:09.803' AS DateTime), N'rr')
SET IDENTITY_INSERT [dbo].[TraHang] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [userName], [passWord], [hoTen], [eMail], [diaChi], [soDienThoai]) VALUES (4, N'111', N'310dcbbf4cce62f762a2aaa148d556bd', N'zxcyvb', N'0@123.com', N'258', N'258258     ')
INSERT [dbo].[Users] ([ID], [userName], [passWord], [hoTen], [eMail], [diaChi], [soDienThoai]) VALUES (12, N'q', N'7694f4a66316e53c8cdd9d9954bd611d', N'q', N'q@12.12', N'q', N'q          ')
INSERT [dbo].[Users] ([ID], [userName], [passWord], [hoTen], [eMail], [diaChi], [soDienThoai]) VALUES (13, N'e', N'e1671797c52e15f763380b45e841ec32', N'e', N'e@e.e', N'e', N'e          ')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([hoaDonID])
REFERENCES [dbo].[HoaDon] ([hoaDonID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([sanPhamID])
REFERENCES [dbo].[SanPham] ([sanPhamID])
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD FOREIGN KEY([groupID])
REFERENCES [dbo].[NhomDanhMuc] ([nhomID])
GO
ALTER TABLE [dbo].[GiaoHang]  WITH CHECK ADD FOREIGN KEY([hoaDonID])
REFERENCES [dbo].[HoaDon] ([hoaDonID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maKhach])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([loaiHang])
REFERENCES [dbo].[LoaiHang] ([loaiHangID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([thuongHieu])
REFERENCES [dbo].[ThuongHieu] ([thuongHieuID])
GO
ALTER TABLE [dbo].[SanPhamTag]  WITH CHECK ADD FOREIGN KEY([sanPhamID])
REFERENCES [dbo].[SanPham] ([sanPhamID])
GO
ALTER TABLE [dbo].[SanPhamTag]  WITH CHECK ADD FOREIGN KEY([tagID])
REFERENCES [dbo].[Tag] ([tagID])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([hoaDonID])
REFERENCES [dbo].[HoaDon] ([hoaDonID])
GO
ALTER TABLE [dbo].[TraHang]  WITH CHECK ADD FOREIGN KEY([hoaDonID])
REFERENCES [dbo].[HoaDon] ([hoaDonID])
GO
USE [master]
GO
