USE [TM]
GO
ALTER TABLE [dbo].[TraHang] DROP CONSTRAINT [FK__TraHang__hoaDonI__6754599E]
GO
ALTER TABLE [dbo].[TraHang] DROP CONSTRAINT [FK__TraHang__chitiet__66603565]
GO
ALTER TABLE [dbo].[ThanhToan] DROP CONSTRAINT [FK__ThanhToan__hoaDo__656C112C]
GO
ALTER TABLE [dbo].[SanPhamTag] DROP CONSTRAINT [FK__SanPhamTa__tagID__6477ECF3]
GO
ALTER TABLE [dbo].[SanPhamTag] DROP CONSTRAINT [FK__SanPhamTa__sanPh__6383C8BA]
GO
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [FK__SanPham__thuongH__628FA481]
GO
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [FK__SanPham__loaiHan__619B8048]
GO
ALTER TABLE [dbo].[KhuyenMai] DROP CONSTRAINT [FK__KhuyenMai__SanPh__60A75C0F]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__maKhach__5FB337D6]
GO
ALTER TABLE [dbo].[GiaoHang] DROP CONSTRAINT [FK__GiaoHang__hoaDon__5EBF139D]
GO
ALTER TABLE [dbo].[DanhMuc] DROP CONSTRAINT [FK__DanhMuc__groupID__5DCAEF64]
GO
ALTER TABLE [dbo].[DanhGia] DROP CONSTRAINT [FK__DanhGia__sanPham__5CD6CB2B]
GO
ALTER TABLE [dbo].[DanhGia] DROP CONSTRAINT [FK__DanhGia__khachHa__5BE2A6F2]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK__ChiTietHo__sanPh__5AEE82B9]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK__ChiTietHo__hoaDo__59FA5E80]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[TraHang]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[TraHang]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[ThuongHieu]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[ThanhToan]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[Tag]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[Slide]
GO
/****** Object:  Table [dbo].[SanPhamTag]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[SanPhamTag]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[SanPham]
GO
/****** Object:  Table [dbo].[NhomDanhMuc]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[NhomDanhMuc]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[LoaiHang]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[KhuyenMai]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[GiaoHang]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[GiaoHang]
GO
/****** Object:  Table [dbo].[Footer]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[Footer]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[DanhMuc]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[DanhGia]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[ChiTietHoaDon]
GO
/****** Object:  Table [dbo].[Advertisement]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP TABLE [dbo].[Advertisement]
GO
USE [master]
GO
/****** Object:  Database [TM]    Script Date: 6/10/2019 5:35:44 PM ******/
DROP DATABASE [TM]
GO
/****** Object:  Database [TM]    Script Date: 6/10/2019 5:35:44 PM ******/
CREATE DATABASE [TM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TM]
GO
/****** Object:  Table [dbo].[Advertisement]    Script Date: 6/10/2019 5:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[tenQuangcao] [nvarchar](250) NULL,
	[hinhAnh] [nvarchar](500) NULL,
	[URL] [nvarchar](500) NULL,
	[ghiChu] [nvarchar](500) NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[chitietID] [int] IDENTITY(1,1) NOT NULL,
	[hoaDonID] [int] NULL,
	[sanPhamID] [int] NULL,
	[soLuong] [smallint] NULL,
	[donGia] [float] NULL,
	[giaKhuyenMai] [float] NULL,
	[thanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[chitietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[khachHangID] [int] NULL,
	[sanPhamID] [int] NULL,
	[Diem] [int] NULL,
	[binhLuan] [ntext] NULL,
	[hinhAnh] [nvarchar](500) NULL,
	[NgayDanhGia] [datetime] NULL,
	[nhieuHinhAnh] [xml] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[danhMucID] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](250) NULL,
	[URL] [nvarchar](500) NULL,
	[groupID] [int] NULL,
	[Target] [varchar](10) NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[danhMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Footer]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footer](
	[ID] [nchar](10) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[trangThai] [bit] NULL,
 CONSTRAINT [PK_Footer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoHang]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoHang](
	[giaoHangID] [int] IDENTITY(1,1) NOT NULL,
	[hoaDonID] [int] NULL,
	[donViGiaoHang] [varchar](50) NULL,
	[ngayGiaoHang] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[giaoHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[hoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[maKhach] [int] NULL,
	[loaiHoaDon] [nvarchar](50) NULL,
	[trangThai] [bit] NULL,
	[tongTien] [float] NULL,
	[ngayMuaHang] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[hoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[khachHangID] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[eMail] [varchar](50) NULL,
	[diaChi] [nvarchar](50) NULL,
	[soDienThoai] [varchar](11) NULL,
	[passWord] [varchar](50) NULL,
	[confirmPassword] [nvarchar](50) NULL,
	[trangThai] [bit] NULL,
	[userName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[khachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[SanPhamID] [int] NOT NULL,
	[tyLe] [float] NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[loaiHangID] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[loaiHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomDanhMuc]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomDanhMuc](
	[nhomID] [int] IDENTITY(1,1) NOT NULL,
	[tenNhom] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[nhomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[sanPhamID] [int] IDENTITY(1,1) NOT NULL,
	[loaiHang] [int] NULL,
	[thuongHieu] [int] NULL,
	[tenSanPham] [nvarchar](100) NULL,
	[donGia] [float] NULL,
	[moTa] [ntext] NULL,
	[hinhAnh] [nvarchar](500) NULL,
	[nhieuHinhAnh] [xml] NULL,
	[NgayTao] [datetime] NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[Hot] [datetime] NULL,
	[soLuong] [int] NULL,
	[MetaKeyword] [nvarchar](500) NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[giaKhuyenMai] [float] NULL,
	[Rating] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[sanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamTag]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamTag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[sanPhamID] [int] NULL,
	[tagID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[tenSlide] [nvarchar](50) NOT NULL,
	[hinhAnh] [nvarchar](500) NULL,
	[URL] [nvarchar](500) NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[tagID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[hoaDonID] [int] NOT NULL,
	[ngayThanhToan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[hoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[thuongHieuID] [int] IDENTITY(1,1) NOT NULL,
	[tenThuongHieu] [nvarchar](50) NULL,
	[metaTitle] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[thuongHieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraHang]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraHang](
	[phieuTraHangID] [int] IDENTITY(1,1) NOT NULL,
	[hoaDonID] [int] NULL,
	[ngayTra] [datetime] NULL,
	[lyDo] [nvarchar](500) NULL,
	[chitietHDID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[phieuTraHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/10/2019 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[passWord] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Advertisement] ON 

INSERT [dbo].[Advertisement] ([ID], [tenQuangcao], [hinhAnh], [URL], [ghiChu], [trangThai]) VALUES (1, N'Thế Giới Di Động', N'/Content/images/quangcao1.jpg', N'https://www.thegioididong.com/dtdd/samsung-galaxy-note8', NULL, 1)
SET IDENTITY_INSERT [dbo].[Advertisement] OFF
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([chitietID], [hoaDonID], [sanPhamID], [soLuong], [donGia], [giaKhuyenMai], [thanhTien]) VALUES (19, 21, 24, 1, 140000, NULL, 140000)
INSERT [dbo].[ChiTietHoaDon] ([chitietID], [hoaDonID], [sanPhamID], [soLuong], [donGia], [giaKhuyenMai], [thanhTien]) VALUES (20, 22, 3, 1, 40000, NULL, 40000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([danhMucID], [tenDanhMuc], [URL], [groupID], [Target], [trangThai]) VALUES (1, N'Máy ảnh', N'may-anh', 1, N'_self', 1)
INSERT [dbo].[DanhMuc] ([danhMucID], [tenDanhMuc], [URL], [groupID], [Target], [trangThai]) VALUES (2, N'Ống kính', N'ong-kinh', 1, N'_self', 1)
INSERT [dbo].[DanhMuc] ([danhMucID], [tenDanhMuc], [URL], [groupID], [Target], [trangThai]) VALUES (3, N'Phụ kiện', N'phu-kien', 1, N'_self', 1)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
INSERT [dbo].[Footer] ([ID], [Content], [trangThai]) VALUES (N'footer    ', N'<div class="container wrap">
            <div class="logo2">
                <a href="index.html"><img src="images/logo2.png" alt="" /></a>
            </div>
            <div class="ftr-menu">
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>', 1)
SET IDENTITY_INSERT [dbo].[GiaoHang] ON 

INSERT [dbo].[GiaoHang] ([giaoHangID], [hoaDonID], [donViGiaoHang], [ngayGiaoHang]) VALUES (18, 21, N'VNPost', CAST(N'2019-06-13T14:23:43.920' AS DateTime))
INSERT [dbo].[GiaoHang] ([giaoHangID], [hoaDonID], [donViGiaoHang], [ngayGiaoHang]) VALUES (19, 22, N'VNPost', CAST(N'2019-06-13T14:31:37.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[GiaoHang] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([hoaDonID], [maKhach], [loaiHoaDon], [trangThai], [tongTien], [ngayMuaHang]) VALUES (21, 33, N'Mua', 1, 170000, CAST(N'2019-06-10T14:23:43.903' AS DateTime))
INSERT [dbo].[HoaDon] ([hoaDonID], [maKhach], [loaiHoaDon], [trangThai], [tongTien], [ngayMuaHang]) VALUES (22, 34, N'Mua', 1, 70000, CAST(N'2019-06-10T14:31:37.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([khachHangID], [hoTen], [eMail], [diaChi], [soDienThoai], [passWord], [confirmPassword], [trangThai], [userName]) VALUES (33, N'Danh', N'testtt@gmail.com', N'89,Tân hải,Phường 1,Quận 1,Hồ Chí Minh', N'09123456', N'e10adc3949ba59abbe56e057f20f883e', N'e10adc3949ba59abbe56e057f20f883e', NULL, NULL)
INSERT [dbo].[KhachHang] ([khachHangID], [hoTen], [eMail], [diaChi], [soDienThoai], [passWord], [confirmPassword], [trangThai], [userName]) VALUES (34, N'Bang', N'tester@gmail.com', N'15 Tân Phú, phường 13', N'0908123654', N'e10adc3949ba59abbe56e057f20f883e', N'e10adc3949ba59abbe56e057f20f883e', 1, N'tester')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiHang] ON 

INSERT [dbo].[LoaiHang] ([loaiHangID], [tenLoai], [MetaTitle]) VALUES (1, N'Máy ảnh', N'may-anh')
INSERT [dbo].[LoaiHang] ([loaiHangID], [tenLoai], [MetaTitle]) VALUES (2, N'Ống kính', N'ong-kinh')
INSERT [dbo].[LoaiHang] ([loaiHangID], [tenLoai], [MetaTitle]) VALUES (3, N'Phụ kiện', N'phu-kien')
SET IDENTITY_INSERT [dbo].[LoaiHang] OFF
SET IDENTITY_INSERT [dbo].[NhomDanhMuc] ON 

INSERT [dbo].[NhomDanhMuc] ([nhomID], [tenNhom]) VALUES (1, N'Menu Chính')
INSERT [dbo].[NhomDanhMuc] ([nhomID], [tenNhom]) VALUES (2, N'Menu Trái')
SET IDENTITY_INSERT [dbo].[NhomDanhMuc] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([ID], [tenSlide], [hinhAnh], [URL], [trangThai]) VALUES (1, N'slide1', N'/Assets/client/images/b1.jpg', N'#', 1)
INSERT [dbo].[Slide] ([ID], [tenSlide], [hinhAnh], [URL], [trangThai]) VALUES (2, N'slide2', N'/Assets/client/images/b2.jpg', N'#', 1)
INSERT [dbo].[Slide] ([ID], [tenSlide], [hinhAnh], [URL], [trangThai]) VALUES (3, N'slide3', N'/Assets/client/images/b3.jpg', N'#', 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
INSERT [dbo].[ThanhToan] ([hoaDonID], [ngayThanhToan]) VALUES (21, CAST(N'2019-06-10T14:23:43.963' AS DateTime))
INSERT [dbo].[ThanhToan] ([hoaDonID], [ngayThanhToan]) VALUES (22, CAST(N'2019-06-10T14:31:37.837' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([thuongHieuID], [tenThuongHieu], [metaTitle]) VALUES (1, N'Canon', N'canon')
INSERT [dbo].[ThuongHieu] ([thuongHieuID], [tenThuongHieu], [metaTitle]) VALUES (2, N'Sony', N'sony')
INSERT [dbo].[ThuongHieu] ([thuongHieuID], [tenThuongHieu], [metaTitle]) VALUES (3, N'Fujifilm', N'fujifilm')
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [userName], [passWord]) VALUES (1, N'admin', N'202cb962ac59075b964b07152d234b70')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([hoaDonID])
REFERENCES [dbo].[HoaDon] ([hoaDonID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([sanPhamID])
REFERENCES [dbo].[SanPham] ([sanPhamID])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([khachHangID])
REFERENCES [dbo].[KhachHang] ([khachHangID])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([sanPhamID])
REFERENCES [dbo].[SanPham] ([sanPhamID])
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD FOREIGN KEY([groupID])
REFERENCES [dbo].[NhomDanhMuc] ([nhomID])
GO
ALTER TABLE [dbo].[GiaoHang]  WITH CHECK ADD FOREIGN KEY([hoaDonID])
REFERENCES [dbo].[HoaDon] ([hoaDonID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maKhach])
REFERENCES [dbo].[KhachHang] ([khachHangID])
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([sanPhamID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([loaiHang])
REFERENCES [dbo].[LoaiHang] ([loaiHangID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([thuongHieu])
REFERENCES [dbo].[ThuongHieu] ([thuongHieuID])
GO
ALTER TABLE [dbo].[SanPhamTag]  WITH CHECK ADD FOREIGN KEY([sanPhamID])
REFERENCES [dbo].[SanPham] ([sanPhamID])
GO
ALTER TABLE [dbo].[SanPhamTag]  WITH CHECK ADD FOREIGN KEY([tagID])
REFERENCES [dbo].[Tag] ([tagID])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([hoaDonID])
REFERENCES [dbo].[HoaDon] ([hoaDonID])
GO
ALTER TABLE [dbo].[TraHang]  WITH CHECK ADD FOREIGN KEY([chitietHDID])
REFERENCES [dbo].[ChiTietHoaDon] ([chitietID])
GO
ALTER TABLE [dbo].[TraHang]  WITH CHECK ADD FOREIGN KEY([hoaDonID])
REFERENCES [dbo].[HoaDon] ([hoaDonID])
GO
USE [master]
GO
