<div class="header-main fixed">
    <div class="header-left">
        <div class="logo-name">
            <a href="/Admin">
                <h1>Admin</h1>
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a>
        </div>
        
        <div class="clearfix"> </div>
    </div>
    <div class="header-right">      
        <div class="profile_details">
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                            <span class="prfil-img"><img src="~/Assets/admin/images/p1.png" alt=""> </span>
                            <div class="user-name">
                                <p>Hello</p>
                                <span>Administrator</span>
                            </div>
                            <i class="fa fa-angle-down lnr"></i>
                            <i class="fa fa-angle-up lnr"></i>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu drp-mnu">
                        <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                        <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                        <li>@Html.ActionLink(" Logout", "Logout", "Login", null, new { @class = "fa fa-sign-out" })</li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
