<div class="sidebar-menu">
    <div class="logo">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#">
            <span id="logo"></span>
            <!--<img id="logo" src="" alt="Logo"/>-->
        </a>
    </div>
    <div class="menu">
        <ul id="menu">
            <li id="menu-loaihang"><a href=@Url.Action("Index","LoaiHang")><i class="fa fa-list-alt"></i><span>Loại hàng</span></a></li>
            <li id="menu-taikhoan"><a href=@Url.Action("Index","User")><i class="fa fa-user"></i><span>Tài khoản</span></a></li>

        </ul>
    </div>
</div>
